@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'iransans';
  src: url("/src/assets/font/Iranian\ Sans.ttf") format("truetype");
}

@import url('https://v1.fontapi.ir/css/Yekan');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  /* font-family: "iransans"; */
  font-family: Yekan, sans-serif;
  direction: rtl;
  /* background: #728a2d33; */

}