@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: iransans;
  src: url(../assets/font/IRANSANSWEB.TTF);
}

@import "../styles/components/AdSwiper.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: right;
  font-family: "iransans";
  direction: rtl;
  /* background: #7fd30026; */
}

.commentSwiper .swiper-slide {
  width: 400px !important;
  height: 300px !important;
}

body {
  background-color: #f4f4f4;
}